{{- range $chain := $.Values.chains }}
{{- if not $chain.existingConfigSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $chain.name | lower }}-{{ include "provider.fullname" $ }}
  labels:
    {{- include "provider.labels" $ | nindent 4 }}
    app.lavanet.io/chain: {{ $chain.id | lower }}
data:
  config.yml: {{ include "configYaml" (list $chain $) | b64enc }}
{{- end }}
{{- end }}

{{- define "configYaml" }}
{{- $chain := index . 0 }}
{{- $root := index . 1 }}
endpoints:
{{- range $interfaceEntry := $chain.interfaces }}
  - chain-id: {{ $chain.id | upper }}
    api-interface: {{ $interfaceEntry.interface }}
    network-address:
      address: 0.0.0.0:{{ $root.Values.service.port }}
      disable-tls: {{ $interfaceEntry.disableTLS | default "false" }}
    node-urls:
    {{- range $node := $interfaceEntry.nodes }}
      - url: {{ $node.endpoint | quote }}
      {{- if ne $node.type "full" }}
        {{- $skipVerifications := default "" $node.skipVerifications }}
        {{- if eq $skipVerifications "pruning" }}
        skip-verifications:
          - pruning
        {{- end }}
        addons:
        {{- range $addon := $node.addons | required (printf "required list addons is missing for chain %s" $chain.id)  }}
          - {{ $addon | lower }}
        {{- end }}
      {{- end }}
    {{- end }}
{{- end }}
{{- if $root.Values.metrics.enabled }}
metrics-listen-address: "0.0.0.0:{{ $root.Values.metrics.port }}"
{{- end }}
{{- end }}
